In [35]:
import pandas as pd

In [36]:
scores = [35,40,45,50,55,60,65,70,75,80,85,90,95,100]
scores

[35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [37]:
score = {'scores':scores}
score

{'scores': [35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]}

In [41]:
scores = pd.DataFrame(score)
scores

    scores
0       35
1       40
2       45
3       50
4       55
5       60
6       65
7       70
8       75
9       80
10      85
11      90
12      95
13     100

In [42]:
scores.describe()

           scores
count   14.000000
mean    67.500000
std     20.916501
min     35.000000
25%     51.250000
50%     67.500000
75%     83.750000
max    100.000000

In [44]:
Averge = scores['scores'].mean()
Highest = scores['scores'].max()
Lowest = scores['scores'].min()

In [45]:
print('Average:', Average)
print('Highest:', Highest)
print('Lowest:', Lowest)

Average: 67.5
Highest: 100
Lowest: 35